@font-face {
	font-family: "8bits";
	src: url("../fonts/8-bitwonder.TTF");
}

body {
	text-align: center;
	font-family: "8bits";
}

a {text-decoration: none; color: black;}

#game {
	margin-bottom: 10px;
}

#instructions {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: 0 auto;
}

#instructions img {
	width: 50px;
}

.instructions-buttons {
	display: flex;
}

.instructions-buttons h3 {margin-left: 10px;}
